@font-face {
    font-display: swap;
    font-family: "Karla-Italic";
    font-style: normal;
    font-weight: 600;
    src: url("../../assets/fonts/Karla-Italic-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "bodoni";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/BodoniModa-VariableFont_opsz,wght.ttf") format("ttf");
}
